* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}


/* Navigation Bar */

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #AAA0A0;
    text-decoration: none;
}

.isDisabled 
{
    cursor: not-allowed;
    opacity: 0.5;
}

.main-header {
    padding: 30px 10%;
    background-color: navy;
    
}

.nav_links {
    list-style: none;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #86beD1;
}

label {
    margin: 0 4px 0 0 ;
    font-size: 30px;
    display: none;
    color: rgba(0, 136, 169, 1);
}

#toggle {
    display: none;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


/** Main Body **/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

/**.main-content**/
  
.main-content {
        background-color: lightslategray;
        padding: 0 2rem;
  }

.homeTitle {
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
    color: ivory;
    text-shadow: 4px 4px 5px black;
}

.intro,
.instructions {
    margin-top: 2em;
    text-align: center;
    color: goldenrod;
    text-shadow: 2px 2px 4px black;  
}

.instructions {
    margin-top: 2em;
    text-align: center;
    color: orangered;
    text-shadow: 1px 1px 3px black;
}

.row {
    margin-top: .5em;
    display: block;
}

.graphsTitle,
.variableTitle {
    margin-top: 1em;
    font-size: 2rem;
    font-weight: bolder;
    color: teal;
    text-shadow: 1px 1px 3px black;
}

.graphsTitle {
    text-align: center;
}

/**Variable Selectors**/
select {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px black;
    font-size: 1rem;
    padding: .25em .5em .25em .25em;
    background-color: #4d5061;
    color: ivory;
    border: 0;
    margin-top: 5%;

}

.vicDemographics, 
.suspectDemographics {
    font-style: italic;
    color: yellowgreen;
    text-shadow: 1px 1px 3px black;
  }

#genderVic, #raceVic, #ethnicityVic, #ageVic, 
#genderSuspect, #raceSuspect, #ethnicitySuspect, #ageSuspect  {
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 10%;
  }

  #resultGenderVic {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultRaceVic {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultEthnicityVic {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultAgeVic {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultGenderSuspect {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultRaceSuspect {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultEthnicitySuspect {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultAgeSuspect {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

/**Data Viz Content**/  
  .vizCol {
        width: 100%;
        padding: 0 0 5rem 0;
  }

  #firstGraph,
  #secondGraph,
  #thirdGraph {
      margin-top: 5%;
      margin-bottom: 1rem;
  }

 
/** Footer **/
.main-footer {
    position: relative;
    background: #AAA0A0;
    padding: 2em 0;
    margin-top: auto;
    text-align: center;
    color: black;
}

/** Contact Form **/
.contactUs {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-color: lightslategray; 
}

.contactUsForm {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
}

.contactTitle{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 136, 169, 1);
    text-shadow: 4px 4px 5px black;
}

fieldset { 
    border:0px;
}

.input_field {
    margin-bottom: 10px; 
}

input,
textarea {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    box-shadow: 4px 4px 5px black;
}

textarea {
    height: 80px;
    resize: none;
}

.contactSubmit {
    margin-left: 100px;
    padding: 10px;
    background-color: rgba(0, 136, 169, 1);
    border: 2px solid whitesmoke;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 5px black;
}


#errorMessage {
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  } 

  /** Media Queries **/

@media only screen and (max-width: 500px) {
    .main-header
    .nav_links
    .button {
       justify-content: center;
       flex-wrap: wrap;
       width: 100%;
    }

    .nav_links {
        display: none;
    }

    label {
        display: flex;
        cursor: pointer;
    }

    #toggle:checked + .nav_links {
        display: flex;
        visibility: visible;
        flex-direction: column;
    }

    .title{
        display: flex;
        flex-direction: column;
    }

    .contactUsForm {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {
        
    .main-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 30px 10%;
    }
  
    .main-content {
        padding-left: 3rem;
    }
        
    .nav_links li {
        display: inline-block;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
  
    .vizCol {
        width: 75%;
        padding-left: 1rem;
        padding-bottom: 5rem;
    }

    .canvas-outer-doughnut, #thirdGraph {
        margin-top: .5rem;
        margin-bottom: 5rem;
    }
}   
/**@media only screen and (min-width: 1140px) {
} **/